li{
    display: inline;
    padding-right: 20px;
    color:blue;
    font-size: large;
    text-decoration: none;

}
li :hover{
    color:#ff9900;
}
html{
    background-color: #fdf1d3;
}
#glavniMeni {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fdf1d3;
    text-align: center;
    
  }
  #ostatakStranice{
    margin-top: 50px;
  }
  a{
    text-decoration: none;
  }

  #odjavaBtn {
    padding: 10px 20px;
    background-color: #3498db; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 
}

#odjavaBtn:hover {
    background-color: #144d72; 
}

#odjavaBtn:active {
    background-color: #1f6690; 
}

